vti_encoding:SR|utf8-nl
vti_author:SR|PHILIPP-WIN10\\Philipp
vti_modifiedby:SR|PHILIPP-WIN10\\Philipp
vti_timelastmodified:TR|03 Aug 2016 14:09:16 -0000
vti_timecreated:TR|03 Aug 2016 14:07:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|cool\\ sidebar/index.html
vti_nexttolasttimemodified:TW|03 Aug 2016 14:07:59 -0000
vti_cacheddtm:TX|03 Aug 2016 14:07:59 -0000
vti_filesize:IR|1711
vti_cachedlinkinfo:VX|S|../img/bg.jpg
vti_cachedsvcrellinks:VX|NSUS|cool\\ sidebar/img/bg.jpg
vti_syncwith_html.bplaced.net\:21:TW|03 Aug 2016 14:07:59 -0000
vti_syncofs_html.bplaced.net\:21:TW|05 Aug 2016 13:01:05 -0000
